<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weather for {{capitalCity}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- sets the weather temp and description by looping using *ngFor and sets the 
icon to the url needed to fetch the icon from -->
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let w of weatherInfo">
    <img src="{{'https://openweathermap.org/img/wn/' + w.icon + '@2x.png'}}" />
    <ion-card-header>
      <ion-card-title>"{{w.description}}"</ion-card-title>
      <ion-card-subtitle>"{{tempInfo.temp}}"({{unit}})</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
