<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News for {{countryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let news of countryNewsInfo">
    <img src="{{news.image_url}}" />
    <ion-card-header>
      <ion-card-title>"{{news.title}}"</ion-card-title>
      <ion-card-subtitle>"{{news.description}}"</ion-card-subtitle>
      <!-- <ion-button fill="outline" (click)="openNews()" >News</ion-button>
      <ion-button fill="outline" (click)="openWeather()">Weather</ion-button> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>
</ion-content>
