<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<!-- displays the unit of measure menu for the user -->
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select aria-label="Unit of Measure" value="metric">
        <ion-select-option value="metric" >Metric</ion-select-option>
        <ion-select-option value="standard" >Standard</ion-select-option>
        <ion-select-option value="imperial" >Imperial</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
<ion-button style="margin-left: 1%" (click)="setUnit()">Back</ion-button>
</ion-content>
